Materi Loop : https://docs.google.com/presentation/d/1ZRjrXM3mU0Hkqw92vYKMYVxh9LsG9IaxzkVB2tanxoU/edit?usp=sharing

#**Loop (Perulangan)**

In [ ]:
buah = ['mangga' , 'jeruk' , 'apel']
for item in buah :
  print(item)

mangga
jeruk
apel

Perulangan ke- 0
Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4

In [ ]:
for i in range(5) :
  print("pengulangan ke -" , i)

pengulangan ke - 0
pengulangan ke - 1
pengulangan ke - 2
pengulangan ke - 3
pengulangan ke - 4

In [ ]:
for i in range (0,5) :
  print(i)

0
1
2
3
4

In [ ]:
for i in range (0,10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
angka = []
for i in range (3) :
  nilai = int(input("masukkan angka :"))
  angka.append(nilai)
  print(angka)

masukkan angka :1
[1]
masukkan angka :5
[1, 5]
masukkan angka :7
[1, 5, 7]



---

## **15 Soal `for` loop**
1. Cetak angka dari **1 hingga 20** menggunakan `for` loop.  
2. Cetak **bilangan genap** dari 2 hingga 50 menggunakan `for` loop.  
3. Cetak setiap huruf dalam string `"PYTHON"` menggunakan `for` loop.  
4. Hitung jumlah semua angka dari **1 hingga 100** menggunakan `for` loop.  
5. Cetak tabel perkalian **5** (5 × 1, 5 × 2, ..., 5 × 10) menggunakan `for` loop.  
6. Cetak **setiap elemen dari list** `angka = [3, 6, 9, 12, 15]` menggunakan `for` loop.  
7. Cetak **angka dari 10 sampai 1** menggunakan `for` loop dengan `range()`.  
8. Buat program yang meminta pengguna memasukkan 5 angka, lalu mencetaknya kembali dengan `for` loop.  
9. Cetak **faktorial dari angka 5** (5! = 5 × 4 × 3 × 2 × 1) menggunakan `for` loop.  
10. Cetak angka **1 sampai 30**, tetapi hanya yang merupakan **kelipatan 3**.  
11. Cetak **bilangan prima** dari 1 sampai 50 menggunakan `for` loop.  
12. Cetak **jumlah karakter dalam setiap kata** dari list `kata = ["Python", "Looping", "Code"]` menggunakan `for` loop.  
13. Gunakan **nested loop** untuk mencetak pola berikut:
    ```
    *
    * *
    * * *
    * * * *
    ```
14. Gunakan **nested loop** untuk mencetak perkalian 1-6 dalam format tabel.  
15. Cetak huruf dalam `"PYTHON"`, tetapi hurufnya **dibalik urutannya** (`N O H T Y P`).  

---

## **15 Soal `break`**
1. Buat perulangan dari **1 sampai 10**, tetapi hentikan saat mencapai angka **5** menggunakan `break`.  
2. Minta pengguna memasukkan angka terus menerus, tetapi berhenti jika mereka memasukkan **angka negatif**.  
3. Buat `for` loop yang mencetak angka dari **1 hingga 100**, tetapi berhenti jika menemukan angka yang **habis dibagi 7**.  
4. Minta pengguna memasukkan kata sandi. Jika kata sandinya benar (`"password123"`), hentikan loop menggunakan `break`.  
5. Buat game sederhana yang meminta pengguna menebak angka antara 1-10. Jika benar, gunakan `break` untuk menghentikan permainan.  
6. Cetak angka **1 sampai 50**, tetapi hentikan perulangan saat menemukan **bilangan genap pertama**.  
7. Buat program yang **menelusuri string** `"PROGRAMMING"`, tetapi berhenti saat menemukan huruf `"G"`.  
8. Gunakan nested loop untuk mencari **angka pertama** dalam list `[11, 24, 35, 46]` yang habis dibagi **6**, lalu hentikan pencarian.  
9. Buat daftar angka **random dari 1-50**, lalu cetak satu per satu hingga menemukan angka **25**, lalu gunakan `break`.  
10. Cetak angka **1 hingga 100**, tetapi jika angka mencapai **75**, hentikan loop.  
11. Buat program yang meminta pengguna memasukkan nama. Jika pengguna mengetik `"exit"`, hentikan program.  
12. Minta pengguna memasukkan daftar angka, lalu berhenti saat mereka memasukkan angka **0**.  
13. Buat loop untuk mencari huruf `"X"` dalam string `"HELLOXWORLD"`, dan berhenti saat menemukannya.  
14. Cetak bilangan ganjil **1 hingga 50**, tetapi hentikan jika angka mencapai **27**.  
15. Minta pengguna menebak angka rahasia **(contoh: 9)**. Jika benar, gunakan `break` untuk menghentikan loop.  

---

## **15 Soal `continue`**
1. Cetak angka dari **1 hingga 20**, tetapi lewati **bilangan kelipatan 3**.  
2. Cetak semua huruf dalam string `"PYTHON"`, kecuali huruf `"O"`.  
3. Cetak angka dari **1 sampai 10**, tetapi **lewati angka 5** menggunakan `continue`.  
4. Minta pengguna memasukkan angka, tetapi jika mereka memasukkan **angka negatif**, abaikan input tersebut dan lanjutkan loop.  
5. Cetak bilangan **1 hingga 50**, tetapi lewati **bilangan genap**.  
6. Buat loop yang mencetak angka **1 hingga 100**, tetapi **lewati angka yang habis dibagi 4**.  
7. Cetak karakter dalam `"CODING"`, tetapi lewati huruf `"D"`.  
8. Buat program yang menelusuri daftar `[2, 5, 8, 10, 15]`, tetapi hanya mencetak angka yang **bukan kelipatan 5**.  
9. Minta pengguna memasukkan kata, tetapi **jika panjang katanya lebih dari 5 huruf**, lewati dan lanjutkan input berikutnya.  
10. Cetak bilangan **1 hingga 30**, tetapi lewati angka yang habis dibagi **2 atau 3**.  
11. Gunakan nested loop untuk mencetak angka **1 hingga 10**, tetapi abaikan angka yang **merupakan bilangan prima**.  
12. Cetak daftar angka `[10, 20, 30, 40, 50]`, tetapi lewati angka **30**.  
13. Gunakan `continue` untuk melewati kata `"skip"` dalam list `["hello", "world", "skip", "python"]`.  
14. Buat program yang meminta pengguna memasukkan angka, tetapi **jika angka lebih dari 100**, abaikan dan lanjutkan input berikutnya.  
15. Cetak bilangan dari **1 sampai 15**, tetapi lewati bilangan yang **mengandung angka 7** (contoh: 7, 17).  

---

In [ ]:
#1.1
for i in range (1,21) :
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#1.2
for i in range (2,51,2) :
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
#1.3
list = ['p', 'y', 't', 'h', 'o', 'n']
for i in list :
  print(i)

p
y
t
h
o
n

In [ ]:
#1.4
for i in range (1,101) :
  print(f"{i} + {i} = {i+i}")

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14
8 + 8 = 16
9 + 9 = 18
10 + 10 = 20
11 + 11 = 22
12 + 12 = 24
13 + 13 = 26
14 + 14 = 28
15 + 15 = 30
16 + 16 = 32
17 + 17 = 34
18 + 18 = 36
19 + 19 = 38
20 + 20 = 40
21 + 21 = 42
22 + 22 = 44
23 + 23 = 46
24 + 24 = 48
25 + 25 = 50
26 + 26 = 52
27 + 27 = 54
28 + 28 = 56
29 + 29 = 58
30 + 30 = 60
31 + 31 = 62
32 + 32 = 64
33 + 33 = 66
34 + 34 = 68
35 + 35 = 70
36 + 36 = 72
37 + 37 = 74
38 + 38 = 76
39 + 39 = 78
40 + 40 = 80
41 + 41 = 82
42 + 42 = 84
43 + 43 = 86
44 + 44 = 88
45 + 45 = 90
46 + 46 = 92
47 + 47 = 94
48 + 48 = 96
49 + 49 = 98
50 + 50 = 100
51 + 51 = 102
52 + 52 = 104
53 + 53 = 106
54 + 54 = 108
55 + 55 = 110
56 + 56 = 112
57 + 57 = 114
58 + 58 = 116
59 + 59 = 118
60 + 60 = 120
61 + 61 = 122
62 + 62 = 124
63 + 63 = 126
64 + 64 = 128
65 + 65 = 130
66 + 66 = 132
67 + 67 = 134
68 + 68 = 136
69 + 69 = 138
70 + 70 = 140
71 + 71 = 142
72 + 72 = 144
73 + 73 = 146
74 + 74 = 148
75 + 75 = 150
76 + 76 = 152
77 + 77 = 154
78 + 78 = 156
79 + 79 = 158
80 + 80 = 160
81 + 81 = 162
82 + 82 = 164
83 + 83 = 166
84 + 84 = 168
85 + 85 = 170
86 + 86 = 172
87 + 87 = 174
88 + 88 = 176
89 + 89 = 178
90 + 90 = 180
91 + 91 = 182
92 + 92 = 184
93 + 93 = 186
94 + 94 = 188
95 + 95 = 190
96 + 96 = 192
97 + 97 = 194
98 + 98 = 196
99 + 99 = 198
100 + 100 = 200

In [ ]:
#1.5
for i in range (1,11) :
  print(f"{5} * {i} = {5*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#1.6
angka = [3,6,9,12,15]
for i in angka :
  print(i)

3
6
9
12
15

In [ ]:
#1.7
for i in range (10,0,-1) :
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#1.8
num = []
for i in range (5) :
  angka = int(input("masukkan angka : "))
  num.append(angka)
print(angka)

masukkan angka : 2
masukkan angka : 4
masukkan angka : 5
masukkan angka : 7
masukkan angka : 3
3

In [ ]:
#1.9

In [ ]:
#1.10

In [ ]:
#1.11

In [ ]:
#1.12

In [ ]:
#1.13

In [ ]:
#1.14

In [ ]:
#1.15